$color-1: #495057;
$color-2: black;
$avatar-dimensions: 3rem;
$chevron-dimensions: 0.75rem;

.list-item {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 8px 20px 8px 16px;
  margin-bottom: 16px;
  background-color: #fafbfc;

  .chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    width: $chevron-dimensions;
    height: $chevron-dimensions;
    display: inline-block;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
  }

  .chevron.right:before {
    left: 0;
    transform: rotate(45deg);
  }

  .chevron.left:before {
    left: 0;
    transform: rotate(90deg);
  }

  .list-item-link {
    display: flex;

    .list-item-body {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      p.regular {
        color: $color-2;
      }

      .flex > span {
        margin-right: 10px;
      }
    }

    .list-item-avatar {
      margin-right: 10px;
      border-radius: 50%;
      width: $avatar-dimensions;
      height: $avatar-dimensions;
    }
  }
}
